<div id="loading-animation" class="lds-css">
  <svg class="icon-svg icon-svg--color-accent icon-svg--size-64 icon-svg--spinner full-page-overlay__icon" aria-hidden="true" focusable="false"> 
  <use xlink:href="#spinner-large">
  
  <svg id="spinner-large" width="100%" height="100%"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-270 364 66 66"><path d="M-237 428c-17.1 0-31-13.9-31-31s13.9-31 31-31v-2c-18.2 0-33 14.8-33 33s14.8 33 33 33 33-14.8 33-33h-2c0 17.1-13.9 31-31 31z"></path></svg></svg>
  
  </use> 
  </svg>

<style type="text/css">
.lds-css {
  width: 64px !important;
  height: 64px !important;
  margin: 0 auto;
}

.lds-css svg{
  opacity: 1;
  width: 64px;
  height: 64px;
  z-index: 999;
} 

.lds-css{
  position: relative;
  top: 45vh;
  left: 0;
  margin: 0 auto;
}

.lds-css .icon-svg--spinner {
    -webkit-animation: fade-in 0.5s ease-in-out, rotate 0.5s linear infinite;
    animation: fade-in 0.5s ease-in-out, rotate 0.5s linear infinite;
}

.lds-css .icon-svg--color-accent {
    color: #1c1b1b;
    fill: currentColor;
}

</style>
</div>