<div class="Container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      
    </div>
  </header>

  <div class="PageContent Rte">
    {{ page.content }}
  </div>
</div>